<main class="cc-main-container">
  <img class="cc-home-logo" src="/assets/img/logo.png" alt="Logo Condomínio Conectado" />
  <section class="cc-home-section">
    <article class="cc-icon-card">
      <img src="/assets/icons/public.svg" alt="Ícone globo" />
      <h3>
        <strong>Conecte-se com sua comunidade:</strong> Encontre e anuncie
        produtos com facilidade, conectando-se diretamente com seus vizinhos.
        Sem mais confusão em grupos de WhatsApp!
      </h3>
    </article>
    <article class="cc-icon-card">
      <img src="/assets/icons/edgesensor_low.svg" alt="Ícone celular" />
      <h3>
        <strong>Anúncios rápidos e fáceis:</strong> Publique seus produtos com
        imagens e detalhes em minutos. Simples, prático e acessível a todos os
        moradores do condomínio.
      </h3>
    </article>
    <article class="cc-icon-card">
      <img src="/assets/icons/water_lock.svg" alt="Ícone cadeado" />
      <h3>
        <strong>Acesso exclusivo para moradores:</strong> Navegue pelos anúncios
        mais recentes e encontre o que precisa sem sair do condomínio. Segurança
        e comodidade na palma da sua mão.
      </h3>
    </article>
    <article class="cc-icon-card">
      <img src="/assets/icons/move_location.svg" alt="Ícone localização" />
      <h3>
        <strong>Contatos diretos e seguros:</strong> Veja os detalhes dos
        produtos e entre em contato direto com o anunciante. Tudo de forma
        rápida, segura e organizada.
      </h3>
    </article>
  </section>
  <section class="cc-home-section-button">
    <button class="cc-primary-button" mat-flat-button routerLink="/login">
      faça login
    </button>
    <button class="cc-secondary-button" mat-flat-button routerLink="/nova-conta">
      crie sua conta
    </button>
  </section>
</main>