.cc-main-container {
    padding: 1.25rem;
    padding-bottom: 60px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.back-button {
    background: none;
    border: 1px solid;
    border-radius: 520%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.logo {
    height: 30px;
    margin-left: auto;
}

.cc-main-container h1 {
    color: var(--ccOrange);
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-left: auto;
}

.custom-input {
  position: relative; /* Para posicionar o ícone */
}

.search-icon {
  position: absolute; /* Posiciona o ícone em relação ao contêiner */
  right: 10px; /* Ajuste a posição à direita */
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Ajusta para centralizar */
  font-size: 1.5rem; /* Tamanho do ícone */
  pointer-events: none; /* Ignora eventos de clique no ícone */
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.product-image {
    width: 100%;
    height: 190px;
    object-fit: cover; /* Garante que a imagem preencha a área */
    border-radius: 13px;
    margin-bottom: 5px 0 0 0;
}

.preco {
    color: var(--ccOrange);
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-left: 0.5rem;
}

.seller {
    float: right;
    color: var(--ccBlack);
    font-size: 14px;
    margin: 0;
    margin-right: 0.5rem;
}

.product-info p {
    margin: 0 0 0 0;
}

.separator {
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid var(--ccOrange);
    box-shadow: 0 0 10px var(--ccOrange);
    margin-top: -10px;
}

.custom-input{
    display: flex;
}
