<main class="cc-main-container">
    <div class="header">
        <h1>Home</h1>
        <img src="/assets/img/logo_menor.png" alt="Logo_menor" class="logo">
    </div>

    <section class="cc-search-input">
        <form>
            <mat-form-field appearance="outline" class="custom-input">
                <mat-label>busque...</mat-label>
                <input matInput type="text" id="nome" />
                <span matPrefix class="search-icon">🔍</span>
            </mat-form-field>
        </form>
    </section>

    <div class="product">
        <img src="/assets/img/ps5.png" alt="PlayStation 5" class="product-image">
        <div class="product-info">
            <h2 class="preco">R$ 2500 <span class="seller">Alexandre</span></h2>
            <p>PlayStation 5 Usado - Console Sony com 825GB SSD</p>
        </div>
    </div>

    <div class="separator"></div>

    <div class="product">
        <img src="/assets/img/notebook.png" alt="Notebook" class="product-image">
        <div class="product-info">
            <h2 class="preco">R$ 3400,00 <span class="seller">Romulo</span></h2>
            <p>Notebook i5, SSD, 1TB não acompanha carregador, bateria viciada</p>
        </div>
    </div>

    <div class="separator"></div>

    <div class="product">
        <img src="/assets/img/carrinho.png" alt="Carrinho de bebê" class="product-image">
        <div class="product-info">
            <h2 class="preco">R$ 180.00 <span class="seller">Jilvan Junior</span></h2>
            <p>Carrinho de bebê usado, pouco tempo de uso (não acompanha o bebê)</p>
        </div>
    </div>

    <footer class="footer">
        <button class="menu-item active">
            <img src="/assets/icons/home-orange.png" alt="Home" class="icon">
          <span class="label">home</span>
        </button>
        <button class="menu-item">
            <img src="/assets/icons/ads-white.png" alt="Anúncios" class="icon">
          <span class="label">anúncios</span>
        </button>
        <button class="menu-item">
            <img src="/assets/icons/profile-white.png" alt="Perfil" class="icon">
          <span class="label">perfil</span>
        </button>
      </footer>
</main>