.custom-input .mat-form-field-outline-start,
.custom-input .mat-form-field-outline-end {
  border-color: #003047; /* Ajuste conforme necessário */
  border-width: 1px;
}

.custom-input .mat-form-field-outline {
  border-radius: 8px; /* Ajuste para o arredondamento */
}

.custom-input .mat-form-field-label {
  color: #A9A9A9; /* Cor do placeholder */
  font-weight: 400;
  font-size: 16px; /* Ajuste conforme necessário */
}

.custom-input input {
  color: #333; /* Cor do texto */
  width: 300px;
}
