<head>
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
</head>

<main class="cc-main-container">
  <app-header title="editar anúncio" [link]="'/meus-anuncios'"></app-header>

  <section class="cc-login-section-input">
    <form [formGroup]="adsForm">
      <mat-form-field appearance="outline" class="custom-input">
        <mat-label>título do anúncio</mat-label>
        <input
          matInput
          type="text"
          class="titulo-anuncio"
          formControlName="title"
          required
        />
        <mat-error *ngIf="adsForm.get('title')?.hasError('required')">
          *campo obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-input">
        <mat-label>descrição</mat-label>
        <textarea
          matInput
          class="descricao"
          formControlName="description"
          required
        ></textarea>
        <mat-error *ngIf="adsForm.get('description')?.hasError('required')">
          *campo obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-input">
        <mat-label>valor</mat-label>
        <input
          matInput
          type="number"
          min="0"
          step="any"
          class="valor"
          formControlName="price"
          required
        />
        <span class="cc-mat-icon-cost" matSuffix>R$&nbsp;</span>
        <mat-error *ngIf="adsForm.get('price')?.hasError('required')">
          *campo obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-input">
        <mat-label>status</mat-label>
        <mat-select formControlName="status" required>
          <mat-option value="ativo">ativo</mat-option>
          <mat-option value="inativo">inativo</mat-option>
        </mat-select>
        <mat-error *ngIf="adsForm.get('status')?.hasError('required')">
          *campo obrigatório
        </mat-error>
      </mat-form-field>
      <app-upload-input-field
        label="Imagem do anúncio"
        formControlName="imageUrl"
        [currentSecurityPreview]="imageUrl"
        [fileName]="''"
        acceptFormats="image/jpeg, image/png"
      ></app-upload-input-field>
    </form>
  </section>

  <mat-spinner *ngIf="isLoading" class="cc-spinner"></mat-spinner>
  <button
    class="cc-primary-button btn-criar-anuncio"
    mat-flat-button
    (click)="onSave()"
    [disabled]="isLoading"
  >
    {{ isNewAds ? "criar anúncio" : "editar anúncio" }}
  </button>

  <button
    *ngIf="!isNewAds"
    class="cc-basic-red-button excluir-anuncio-button"
    mat-button
    routerLink="/meus-anuncios"
  >
    excluir anúncio<span class="material-symbols-outlined">delete</span>
  </button>

  <app-menu></app-menu>
</main>
