.cc-main-container {
  margin-bottom: 50px;
  text-align: center;
  padding: 1.25rem;
  padding-bottom: 60px;
}

.custom-input {
  margin-bottom: 0.5rem;
}

.outline mat-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.custom-input {
  flex: 1;
}

.editar-perfil-button {
  margin-top: 3.0rem;
}



