<main class="cc-main-container">
  <section class="cc-login-section">
    <img src="/assets/img/logo.png" alt="Ícone globo" />
  </section>

  <section class="cc-login-section-input">
    <form>
      <mat-form-field appearance="outline" class="custom-input">
        <mat-label>Login</mat-label>
        <input matInput type="text" />
        <!-- <mat-error>Email is <strong>required</strong></mat-error> -->
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-input">
        <mat-label>Senha</mat-label>
        <input matInput type="password" />
        <!-- <mat-error>Password is <strong>required</strong></mat-error> -->
      </mat-form-field>
    </form>
  </section>

  <section class="cc-login-section-button">
    <button class="cc-secondary-button acessar-button" mat-flat-button routerLink="/">
      Acessar
    </button>
    <button class="cc-primary-button home-button" mat-flat-button routerLink="/">
      Home
    </button>
  </section>
</main>